In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.read_csv("data/fg_directional_satements-en_ONPP.csv")

  fgid                              directional-statement
0   vf  Eat at least one dark green and one orange veg...
1   vf  Choose vegetables and fruit prepared with litt...
2   vf   Have vegetables and fruit more often than juice.
3   gr  Make at least half of your grain products whol...
4   gr  Choose grain products that are lower in fat, s...
5   mi               Drink skim, 1%, or 2% milk each day.
6   mi                Select lower fat milk alternatives.
7   me  Have meat alternatives such as beans, lentils ...
8   me  Eat at least two Food Guide Servings of fish e...
9   me  Select lean meat and alternatives prepared wit...

In [4]:
pd.read_csv("data/foodgroups-en_ONPP.csv")

  fgid              foodgroup  fgcat_id                               fgcat
0   vf   Vegetables and Fruit         0  Non dark green or orange vegetable
1   vf   Vegetables and Fruit         1                Dark green vegetable
2   vf   Vegetables and Fruit         2                    Orange vegetable
3   gr                 Grains         4                     Non whole grain
4   gr                 Grains         3                         Whole grain
5   mi  Milk and Alternatives         5                                Milk
6   mi  Milk and Alternatives         6                  Milk Alternataives
7   me  Meat and Alternatives         7                   Meat Alternatives
8   me  Meat and Alternatives         8   Meat, fish, poultry and shellfish

In [5]:
pd.read_csv("data/servings_per_day-en_ONPP.csv")

   fgid  gender      ages servings
0    vf  Female    2 to 3        4
1    vf    Male   2 to 3         4
2    vf  Female    4 to 8        5
3    vf    Male    4 to 8        5
4    vf  Female   9 to 13        6
5    vf    Male   9 to 13        6
6    vf  Female  14 to 18        7
7    vf    Male  14 to 18        8
8    vf  Female  19 to 30   7 to 8
9    vf    Male  19 to 30  8 to 10
10   vf  Female  31 to 50   7 to 8
11   vf    Male  31 to 50  8 to 10
12   vf  Female  51 to 70        7
13   vf    Male  51 to 70        7
14   vf  Female       71+        7
15   vf    Male       71+        7
16   gr  Female    2 to 3        3
17   gr    Male    2 to 3        3
18   gr  Female    4 to 8        4
19   gr    Male    4 to 8        4
20   gr  Female   9 to 13        6
21   gr    Male   9 to 13        6
22   gr  Female  14 to 18        6
23   gr    Male  14 to 18        7
24   gr  Female  19 to 30   6 to 7
25   gr    Male  19 to 30        8
26   gr  Female  31 to 50   6 to 7
27   gr    Male  31 to 50        8
28   gr  Female  51 to 70        6
29   gr    Male  51 to 70        7
..  ...     ...       ...      ...
34   mi  Female    4 to 8        2
35   mi    Male    4 to 8        2
36   mi  Female   9 to 13   3 to 4
37   mi    Male   9 to 13   3 to 4
38   mi  Female  14 to 18   3 to 4
39   mi    Male  14 to 18   3 to 4
40   mi  Female  19 to 30        2
41   mi    Male  19 to 30        2
42   mi  Female  31 to 50        2
43   mi    Male  31 to 50        2
44   mi  Female  51 to 70        3
45   mi    Male  51 to 70        3
46   mi  Female       71+        3
47   mi    Male       71+        3
48   me  Female    2 to 3        1
49   me    Male    2 to 3        1
50   me  Female    4 to 8        1
51   me    Male    4 to 8        1
52   me  Female   9 to 13   1 to 2
53   me    Male   9 to 13   1 to 2
54   me  Female  14 to 18        2
55   me    Male  14 to 18        3
56   me  Female  19 to 30        2
57   me    Male  19 to 30        3
58   me  Female  31 to 50        2
59   me    Male  31 to 50        3
60   me  Female  51 to 70        2
61   me    Male  51 to 70        3
62   me  Female       71+        2
63   me    Male       71+        3

[64 rows x 4 columns]

In [49]:
pd.read_csv("data/foods-en_ONPP_rev.csv", encoding='L2', delimiter=",").drop(["Unnamed: 4"], axis=1)

,fgid,fgcat_id,srvg_sz,food
0,vf,1,"125 mL, ˝ cup, 6 spears",Asparagus
1,vf,1,"125 mL, ˝ cup","Beans, green"
2,vf,1,"125 mL, ˝ cup cooked",Bok choy/Chinese cabbage (Choi sum)
3,vf,1,"125 mL, ˝ cup",Broccoli
4,vf,1,"125 mL, ˝ cup, 4 sprouts",Brussels sprouts
5,vf,2,"125 mL, ˝ cup, 1 large",Carrots
6,vf,1,"125 mL, ˝ cup",Chard
7,vf,1,"250 mL, 1 cup raw",Dandelion greens
8,vf,1,"250 mL, 1 cup",Endive
9,vf,1,"125 mL, ˝ cup",Fiddleheads
10,vf,1,"250 mL, 1 cup raw",Kale/collards
11,vf,1,"125 mL, ˝ cup, ˝ leek",Leeks
12,vf,1,"250 mL, 1 cup raw","Lettuce, romaine"
13,vf,1,"250 mL, 1 cup raw",Mesclun mix
14,vf,1,"250 mL, 1 cup raw",Mustard greens
15,vf,1,"125 mL, ˝ cup",Okra
16,vf,1,"125 mL, ˝ cup",Peas
17,vf,2,"125 mL, ˝ cup",Pumpkin
18,vf,1,"125 mL, ˝ cup",Seaweed
19,vf,1,"125 mL, ˝ cup",Snow peas
20,vf,1,"250 mL, 1 cup raw",Spinach
21,vf,2,"125 mL, ˝ cup",Squash
22,vf,2,"125 mL, ˝ cup",Sweet potato
23,vf,2,"125 mL, ˝ cup",Yam
24,vf,0,3 fruits,"Apricot, fresh"
25,vf,0,"125 mL, ˝ cup",Cantaloupe
26,vf,0,"125 mL, ˝ cup, ˝ fruit",Mango
27,vf,0,1 fruit,Nectarine
28,vf,0,˝ fruit,Papaya
29,vf,0,1 medium,Peach
...,...,...,...,...
125,mi,6,"50 g, 1 , ˝ oz","Cheese, goat"
126,mi,6,"50 g, 1 , ˝ oz",Paneer
127,mi,6,"175 g, 175ml, ž cup","Yogurt, plain"
128,mi,5,"250 mL, 1 cup","Milk, whole"
129,mi,6,"175 g, 175 mL, ž cup",Kefir
130,me,7,"175 mL, ž cup","Beans, cooked and canned"
131,me,7,2,Eggs
132,me,7,"175 mL, ž cup",Lentils
133,me,7,"60 mL, ź cup","Nuts, shelled"
134,me,7,"30 mL, 2 Tbsp",Peanut butter or nut butters
135,me,7,"60 mL, ź cup","Seeds, shelled"
136,me,7,"150 g, 175 mL, ž cup",Tofu
137,me,8,75 g (2˝ oz) / 125 mL (˝ cup),Beef
138,me,8,75 g (2˝ oz) / 125 mL (˝ cup),Bison/Buffalo
139,me,8,75 g (2˝ oz) / 125 mL (˝ cup),Chicken
140,me,8,75 g (2˝ oz) / 125 mL (˝ cup),"Deli meat, low-fat, lower sodium"
141,me,8,75 g (2˝ oz) / 125 mL (˝ cup),Duck
142,me,8,75 g (2˝ oz) / 125 mL (˝ cup),"Fish and shellfish, canned (example: crab, sal..."
143,me,8,75 g (2˝ oz) / 125 mL (˝ cup),"Fish, fresh or frozen (example: herring, macke..."
144,me,8,75 g (2˝ oz) / 125 mL (˝ cup),"Game birds (example: ptarmigan, partridge, gro..."
145,me,8,75 g (2˝ oz) / 125 mL (˝ cup),"Game meats (example: deer, moose, caribou, elk)"
146,me,8,75 g (2˝ oz) / 125 mL (˝ cup),Goat
147,me,8,75 g (2˝ oz) / 125 mL (˝ cup),Ham
148,me,8,75 g (2˝ oz) / 125 mL (˝ cup),Lamb
149,me,8,75 g (2˝ oz) / 125 mL (˝ cup),"Organ meat (example: liver, kidney)"
150,me,8,75 g (2˝ oz) / 125 mL (˝ cup),Pork
151,me,8,75 g (2˝ oz) / 125 mL (˝ cup),Rabbit /Hare
152,me,8,75 g (2˝ oz) / 125 mL (˝ cup),"Shellfish, fresh or frozen (example: clams, cr..."
153,me,8,75 g (2˝ oz) / 125 mL (˝ cup),Turkey
154,me,8,75 g (2˝ oz) / 125 mL (˝ cup),Veal